<li class="usa-card grid-col-12">
  <div class="usa-card__container bg-base-lightest border-base-lightest">
    <div class="usa-card__header">
      <h4 class="usa-card__heading font-body-s">{{ item.agency }}</h4>
    </div>
    <div class="usa-card__body">
      {%- if item.poc -%}
      <div><strong>Point of Contact:</strong> {{ item.poc }}</div>
      {%- endif -%} {%- if item.regdate -%}
      <div><strong>Registration Date:</strong> {{ item.regdate }}</div>
      {%- endif -%} {%- if item.certdate -%}
      <div>
        <strong>Certification/Recertification Date:</strong> {{ item.certdate }}
      </div>
      {%- endif -%} {%- if item.expiration -%}
      <div>
        <strong>Certification Expiration:</strong> {{ item.expiration }}
      </div>
      {%- endif -%}
    </div>
    {%- if item.url -%}
    <a
      href="{{- item.url -}}"
      class="usa-card__stretched-link"
      aria-label="Go to Card title"
    >
    </a>
    {%- endif -%}
  </div>
</li>
