{%- assign case_link_title = link_title -%}
{%- if case_link_title == null -%}
  {%- assign case_link_title = true -%}
{%- endif -%}

{%- assign case_url = post.url | default: page.url -%}
{%- assign case_title = post.data.title | default: title -%}
{%- assign case_locations = post.data.locations | default: locations -%}
{%- assign case_location_primary = case_locations[0] -%}
{%- assign case_agency = post.data.source.agency | default: source.agency -%}
{%- assign case_subagency = post.data.source.subagency | default: source.subagency -%}
{%- assign case_results = post.data.results | default: results -%}
{%- assign case_files = post.data.files | default: files -%}
{%- assign case_numbers = post.data.cases | default: cases -%}
{%- assign case_date = post.date | default: date -%}
{%- assign case_year = case_date | date: '%Y' -%}
{%- assign case_date_iso = case_date | date: '%Y-%m-%d' -%}
{%- assign case_pagefind_ignore = pagefind_ignore | default: false -%}

<li
  class="usa-collection__item"
  data-pagefind-body
  {%- if case_pagefind_ignore -%}
    data-pagefind-ignore
  {%- endif -%}
>
  <div class="usa-collection__body">
    <h3 class="usa-collection__heading">
      {%- if case_link_title -%}
        <a class="usa-link" href="{{ case_url }}" data-pagefind-meta="title">{{- case_title -}}</a>
      {%- else -%}
        <span data-pagefind-meta="title">{{- case_title -}}</span>
      {%- endif -%}
    </h3>
    <ul class="usa-collection__meta" aria-label="More information">
      {%- for location in case_locations -%}
        <li class="usa-collection__meta-item">{{- location -}}</li>
      {%- endfor -%}
      <li class="usa-collection__meta-item">
        <span data-pagefind-meta="agency" data-pagefind-filter="agency">{{- case_agency -}}</span>
        {%- if case_subagency -%}
          ,{{ ' ' }}
          <span data-pagefind-meta="subagency">{{- case_subagency -}}</span>
        {%- endif -%}
      </li>
      {%- for case_number in case_numbers -%}
        <li class="usa-collection__meta-item">{{- case_number -}}</li>
      {%- endfor -%}
      <li class="usa-collection__meta-item">
        <time
          datetime="{{ case_date_iso }}"
          data-year="{{ case_year }}"
          data-pagefind-meta="date"
          data-pagefind-sort="date"
          data-pagefind-filter="year[data-year]"
        >
          {{- case_date | date: '%B %d, %Y' -}}
        </time>
      </li>
    </ul>
    <div class="usa-collection__description">
      {%- if case_results -%}
        <h4>Results:</h4>
        <ul>
          {%- for result in case_results -%}
            <li>{{ result }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if case_files -%}
        <h4>Associated files:</h4>
        <ul>
          {%- for file in case_files -%}
            <li>
              <a href="{{ file.href }}">{{ file.label }}</a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</li>
