{%- assign case_link_title = link_title -%}
{%- if case_link_title == null -%}
  {%- assign case_link_title = true -%}
{%- endif -%}

{%- assign case_url = post.url | default: page.url -%}
{%- assign case_title = post.data.title | default: title -%}
{%- assign case_locations = post.data.locations | default: locations -%}
{%- assign case_location_primary = case_locations[0] -%}
{%- assign case_agency = post.data.source.agency | default: source.agency -%}
{%- assign case_subagency = post.data.source.subagency | default: source.subagency -%}
{%- assign case_results = post.data.results | default: results -%}
{%- assign case_files = post.data.files | default: files -%}
{%- assign case_numbers = post.data.cases | default: cases -%}
{%- assign case_date = post.date | default: date -%}
{%- assign case_year = case_date | date: '%Y' -%}
{%- assign case_date_iso = case_date | date: '%Y-%m-%d' -%}
{%- assign case_pagefind_ignore = pagefind_ignore | default: false -%}

<li class="tablet:grid-col-6 usa-card" data-pagefind-body {% if case_pagefind_ignore %}data-pagefind-ignore{% endif %}>
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h3 class="usa-card__heading">
        {%- if case_link_title -%}
          <a class="usa-link" href="{{ case_url }}" data-pagefind-meta="title">{{- case_title -}}</a>
        {%- else -%}
          <span data-pagefind-meta="title">{{- case_title -}}</span>
        {%- endif -%}
      </h3>
    </header>
    <div class="usa-card__body">
      <ul class="usa-list usa-list--unstyled margin-top-0 margin-bottom-2" aria-label="More information">
        {%- if case_location_primary -%}
          <li class="margin-bottom-1">{{- case_location_primary -}}</li>
        {%- endif -%}
        <li class="margin-bottom-1">
          <span data-pagefind-meta="agency" data-pagefind-filter="agency">{{- case_agency -}}</span>
          {%- if case_subagency -%}
            ,{{ ' ' }}
            <span data-pagefind-meta="subagency">{{- case_subagency -}}</span>
          {%- endif -%}
        </li>
        {%- for case_number in case_numbers -%}
          <li class="margin-bottom-1">{{- case_number -}}</li>
        {%- endfor -%}
        <li class="margin-bottom-2">
          <time
            datetime="{{ case_date_iso }}"
            data-year="{{ case_year }}"
            data-pagefind-meta="date"
            data-pagefind-sort="date"
            data-pagefind-filter="year[data-year]"
          >
            {{- case_date | date: '%B %d, %Y' -}}
          </time>
        </li>
      </ul>

      {%- if case_results -%}
        <h4 class="margin-top-0 margin-bottom-1">Results:</h4>
        <ul>
          {%- for result in case_results -%}
            <li>{{ result }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if case_files -%}
        <h4 class="margin-bottom-1">Associated files:</h4>
        <ul>
          {%- for file in case_files -%}
            <li>
              <a href="{{ file.href }}">{{ file.label }}</a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</li>
