<script id="case-record-bank" type="application/json">
[
  {%- for post in items -%}
    {%- assign case_locations = post.data.locations -%}
    {%- assign case_location_primary = case_locations[0] -%}
    {
      "agency": {{ post.data.source.agency | default: "" | jsonify }},
      "caseNumbers": {% if post.data.cases %}{{ post.data.cases | jsonify }}{% else %}[]{% endif %},
      "dateDisplay": {{ post.date | date: '%B %d, %Y' | jsonify }},
      "dateIso": {{ post.date | date: '%Y-%m-%d' | jsonify }},
      "files": {% if post.data.files %}{{ post.data.files | jsonify }}{% else %}[]{% endif %},
      "location": {{ case_location_primary | default: "" | jsonify }},
      "results": {% if post.data.results %}{{ post.data.results | jsonify }}{% else %}[]{% endif %},
      "subagency": {{ post.data.source.subagency | default: "" | jsonify }},
      "title": {{ post.data.title | default: "" | jsonify }},
      "url": {{ post.url | jsonify }}
    }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
]
</script>
