<li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
  <div
    class="usa-card__container bg-base-lightest shadow-3 border-base-lightest"
  >
    <div class="usa-card__header">
      <div class="usa-card__heading font-body-s text-bold">{{ unit.name }}</div>
    </div>
    <div class="usa-card__body">
      {%- for contact in unit.contacts -%}
        {%- if contact.phone1 -%}
          <div class="margin-0">
            <div class="display-flex flex-align-center margin-0">
              {% uswds_icon "phone" %}
              <span class="font-body-xs padding-left-1">{{ contact.phone1 }}</span>
            </div>
          </div>
        {%- endif -%}
        {%- if contact.phone2 -%}
          <div class="margin-0">
            <div class="display-flex flex-align-center margin-0">
              {% uswds_icon "phone" %}
              <span class="font-body-xs padding-left-1">{{ contact.phone2 }}</span>
            </div>
          </div>
        {%- endif -%}
        {%- if contact.phone3 -%}
          <div class="margin-0">
            <div class="display-flex flex-align-center margin-0">
              {% uswds_icon "phone" %}
              <span class="font-body-xs padding-left-1">{{ contact.phone3 }}</span>
            </div>
          </div>
        {%- endif -%}
        {%- if contact.fax -%}
          <div class="margin-0">
            <div class="display-flex flex-align-center margin-0">
              {% uswds_icon "fax" %}
              <span class="font-body-xs padding-left-1">{{ contact.fax }}</span>
            </div>
          </div>
        {%- endif -%}
        {%- if contact.email -%}
          <div class="margin-0">
            <div class="display-flex flex-align-center margin-0">
              {% uswds_icon "mail" %}
              <a href="mailto:{{ contact.email }}" class="font-body-xs padding-left-1">{{ contact.email }}</a>
            </div>
          </div>
        {%- endif -%}
        {%- if contact.address -%}
          <span class="font-body-xs">{{ contact.address }}</span>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</li>
