<div class="usa-footer__return-to-top bg-base-lightest">
  <div class="grid-container">
    <a href="#main-content">Return to top</a>
  </div>
</div>

<section class="usa-identifier" aria-label="Agency identifier">
  <div class="usa-identifier__section usa-identifier__section--masthead">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="/" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img maxw-6"
            src="/img/osc-logo.png"
            alt="{{ site.title }}"
          />
        </a>
      </div>
      <section class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">{{ site.title }}</p>
        <p class="usa-identifier__identity-disclaimer">
          An Official website of the Federal Government
        </p>
      </section>
    </div>
  </div>

  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        {% for nav_item in site.footer_navigation %}
        <li class="usa-identifier__required-links-item">
          <a href="{{ nav_item.url }}" class="usa-identifier__required-link"
            >{{ nav_item.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description display-inline-block">
        Looking for U.S. government information and services?
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </div>
  </section>
</section>
