{%- assign icon = item.icon | default: 'file_present' -%}
<li
  class="usa-icon-list__item resource-item border-white bg-base-lightest hover:bg-base-lighter radius-md padding-2"
  {%- if resource_parent -%} data-resource-parent="{{- resource_parent | escape -}}"{%- endif -%}
  {%- if resource_topic -%} data-resource-topic="{{- resource_topic | escape -}}"{%- endif -%}
>
  <a
    href="{{- item.url -}}"
    class="display-flex flex-align-start width-full text-no-underline"
  >
    <div class="usa-icon-list__icon">
      {%- uswds_icon icon "height-3 width-3" -%}
    </div>
    <div class="usa-icon-list__content margin-left-1 text-primary">
      {{- item.name -}}
    </div>
  </a>
</li>
