{% assign navPages = collections.all | eleventyNavigation %}
{% assign currentUrl = page.url %}
{% assign currentSection = false %}

{%- for entry in navPages[0].children -%}
  {%- assign entrySectionUrl = entry.key | default: entry.url -%}
  {%- if entrySectionUrl and currentUrl contains entrySectionUrl -%}
    {%- assign currentSection = entry -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<aside
  id="section-nav"
  class="usa-layout-docs-sidenav desktop:grid-col-3 padding-y-4"
>
  <nav>
    <div class="text-uppercase text-bold margin-left-2 margin-y-2 text-ls-2">In this section:</div>
    {%- if currentSection -%}
      <ul class="usa-sidenav">
        {%- for child in currentSection.children -%}
          {%- assign childHref = child.url -%}
          {%- if child.children.size > 0 -%}
            {%- assign firstVisibleChildHref = "" -%}
            {%- assign overviewChildHref = "" -%}
            {%- for grandchild in child.children -%}
              {%- unless grandchild.hideInSideNav -%}
                {%- if firstVisibleChildHref == "" -%}
                  {%- assign firstVisibleChildHref = grandchild.url -%}
                {%- endif -%}
                {%- if overviewChildHref == "" and grandchild.url contains "/overview/" -%}
                  {%- assign overviewChildHref = grandchild.url -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}
            {%- if overviewChildHref != "" -%}
              {%- assign childHref = overviewChildHref -%}
            {%- elsif firstVisibleChildHref != "" -%}
              {%- assign childHref = firstVisibleChildHref -%}
            {%- endif -%}
          {%- endif -%}
          {%- assign isCurrentChild = false -%}
          {%- if child.url and currentUrl contains child.url -%}
            {%- assign isCurrentChild = true -%}
          {%- endif -%}
          <li class="usa-sidenav__item">
            <a
              href="{{ childHref }}"
              {%- if child.url == currentUrl or childHref == currentUrl -%}
                class="usa-current"
              {%- endif -%}
            >
              {{ child.title }}
            </a>
            {%- if isCurrentChild and child.children.size > 0 -%}
              <ul class="usa-sidenav__sublist">
                {%- for grandchild in child.children -%}
                  {%- unless grandchild.hideInSideNav -%}
                    <li class="usa-sidenav__item font-sans-2xs">
                      <a
                        href="{{ grandchild.url }}"
                        {%- if grandchild.url == currentUrl -%}
                          class="usa-current"
                        {%- endif -%}
                      >
                        {{ grandchild.title }}
                      </a>
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>No navigation found for this section.</p>
    {%- endif -%}
  </nav>
</aside>
