{% if site['social-media'] %}
  {% for medium in site['social-media'] %}
    {% assign icon = medium.service %}
    {% if medium.service == 'twitter' %}
      {% assign icon = 'x' %}
    {% endif %}
    <li class="usa-nav__secondary-item display-flex flex-align-center padding-x-1 desktop:padding-x-0">
      <a href="{{ medium.link }}" target="_blank" rel="noopener noreferrer">
        <svg
          aria-hidden="true"
          focusable="false"
          class="usa-icon usa-icon--size-3 desktop:text-white"
          role="img"
        >
          <use href="#svg-{{ icon }}" xlink:href="#svg-{{ icon }}"></use>
        </svg>
        <span class="usa-sr-only">{{ medium.service }}</span>
      </a>
    </li>
  {% endfor %}
{% endif %}
