<div class="table-wrapper">
  <table class="usa-table usa-table-striped">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Min Hours</th>
        <th scope="col">Applications Accepted</th>
        <th scope="col">Program Begins/Ends</th>
      </tr>
    </thead>
    <tbody>
      {%- for term in terms -%}
        <tr>
          <td>{{ term.season }}</td>
          <td>{{ term.hours }}</td>
          <td>{{ term.deadline }}</td>
          <td>{{ term.program }}</td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
